.input-sizer {
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  position: relative;
  border: 0;
}
.input-sizer.stacked {
  align-items: stretch;
}
.input-sizer.stacked::after,
.input-sizer.stacked input {
  grid-area: 2/1;
}
.input-sizer::after,
.input-sizer input {
  width: auto;
  min-width: 1em;
  grid-area: 1/2;
  font: inherit;
  margin: 0;
  resize: none;
  background: none;
  appearance: none;
  border: none;
  outline:none;
  min-height:2.2rem;
}
.input-sizer::after {
  content: attr(data-value) " ";
  visibility: hidden;
  white-space: pre-wrap;
}